extends includes/layout
block content
  .container
    div(class="row")
      div(class="column")
        h4 Extension card with id=#{cardId} is ready to use. Proceed with the following steps to see trello integration in action:
        ol
          li Associate deal with Trello card using
            =' '
            a(href="https://app.hubspot.com/") HubSpot
            = ' interface'
          li Map Trello board lists with HubSpot pipeline stages on
            = ' '
            a(href="/mappings") Mappings
            = ' page'
          li Move associated trello card to any other mapped earlier board list and check how this affects HubSpot deal stage
