header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') HubSpot JavaScript Sample Imports Contacts
      
      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/imports') Imports
        li(class='navigation-item')
          a(class='navigation-link' href='/imports/new') New Import
