header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') HubSpot JavaScript Sample OAuth2
      
      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/refresh') Refresh Access Token
        li(class='navigation-item')
          a(class='navigation-link' href='/login') OAuth2
