header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') HubSpot JavaScript Sample Contacts App
      
      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/contacts') Contacts
        li(class='navigation-item')
          a(class='navigation-link' href='/properties') Properties
