extends includes/layout
block content
  section(class='container')
    div(class='authorize-button')
      h3 In order to continue please authorize via OAuth
      a(class='button' href='/oauth') Authorize
